
@model ASP121.Models.Translator.TranslatorViewModel
@{
    ViewData["Title"] = "Translator";
}

<div class="text-center">
    <h1 class="display-2">Когнітивні сервіси. Перекладач.</h1>
</div>

@if(Model.FormModel != null && Model.ErrorMessage != null)
{
    <p class="alert alert-danger">
        @Model.ErrorMessage
    </p>
}
<form>
<div class="row">
    <div class="col col-3 text-center">
            <select class="form-select" name="LangFrom">
                <option value="uk" selected="@(Model.FormModel?.LangFrom == "uk" ? "selected" : null)">Українська</option>
                <option value="en" selected="@(Model.FormModel?.LangFrom == "en" ? "selected" : null)">English</option>
                <option value="es" selected="@(Model.FormModel?.LangFrom == "es" ? "selected" : null)">Spanish</option>
                <option value="pt" selected="@(Model.FormModel?.LangFrom == "pt" ? "selected" : null)">Portuguese</option>
            </select>
            <textarea class="form-control" rows="4" name="OriginalText">@(Model.FormModel?.OriginalText)</textarea>
    </div>
    <div class="col col-1">
            <button name="TranslateButton" value="TranslateButton">
            <i class="bi bi-arrow-right-square"></i></button>
        <br/>
        <br/>
            <button name="InverseButton" value="InverseButton" type="submit" formaction="/Translator/Index"><i class="bi bi-arrow-left-right"></i></button>
    </div>
    <div class="col col-3 text-center">
            <select class="form-select" name="LangTo">                
                <option value="en" selected="@(Model.FormModel?.LangTo == "en" ? "selected" : null)">English</option>
                <option value="uk" selected="@(Model.FormModel?.LangTo == "uk" ? "selected" : null)">Українська</option>
                <option value="es" selected="@(Model.FormModel?.LangTo == "es" ? "selected" : null)">Spanish</option>
                <option value="pt" selected="@(Model.FormModel?.LangTo == "pt" ? "selected" : null)">Portuguese</option>
            </select>
            <textarea class="form-control" rows="4" readonly name="TranslatedText">@(Model.FormModel?.TranslatedText)</textarea>
    </div>
</div>
</form> 